# tensorboardX
# GitPython
gym
# wandb
# gym-minigrid
# torch
tqdm
git+git://github.com/ministry-of-silly-code/experiment_buddy.git
git+git://github.com/d3sm0/emdp.git
jax
jaxlib
git+https://github.com/deepmind/dm-haiku